<div class="bg-dark text-light">
  <div class="container-fluid my-auto min-vh-100 w-50">
    <form class="pt-5 w-100" (submit)="addTodo()">
      <div class="mb-3 mt-5">
        <label for="todoInput" class="form-label">Todo</label>
        <input required name="todoInput" type="text" class="form-control" id="todoInput" [(ngModel)]="todoInput">
        <div class="text-warning" *ngIf="isInvalidTodo">*Please enter a valid todo!</div>
      </div>
      <div class="mx-auto w-25">
        <button type="submit" class="btn btn-primary w-100">Add</button>
      </div>
      <div class="'todo-container mt-2">
        <p>Pending Todos</p>
        <ul *ngFor="let todo of todoService.getPendingTodos(); let i=index" class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center mt-3">{{todo}}
            <span (click)="deleteTodo(i)" role="button" class="btn btn-outline-danger rounded-2">X</span>
        </ul>
        <p class="mt-5">Compeleted</p>
        <ul *ngFor="let todo of todoService.getCompletedTodos(); let i=index" class="list-group">
          <li class="text-decoration-line-through list-group-item d-flex justify-content-between align-items-center mt-3">{{todo}}
        </ul>
      </div>
    </form>
  </div>

</div>
